.team-view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.team-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.team-display {
  justify-content: space-around;

}

h3 {
  text-align: center;
}

.title h1 {
  width: 50%;
  text-align: center;
  color: red;
}

.title h1 a {
  color: red;
}
