<section class="wrapper select">
  <h2>{{vm.league.name}}</h2>
  <div class="team-view">
    <section class="team">
      <select id="team-one" ng-model="vm.teamOne">
        <option value = "0" label = "Select Team A"></option>
        <option ng-repeat="team in vm.league.teams" value="{{team.team_name}}">
          {{team.team_name}}
        </option>
      </select>

      <div ng-repeat="league in vm.league">
        {{ league.name }}
      </div>
    </section>


    <div class="team">
      <select id="team-two" ng-model="vm.teamTwo">
        <option value = "0" label = "Select Team B"></option>
        <option ng-repeat="team in vm.league.teams" value="{{team.team_name}}">
          {{team.team_name}}
        </option>
      </select>
    </div>
  </div>

  <!-- <div class="team-info">
    <div class="team-display">
      <p>This is where we'll put Team 1 players and fixtures</p>
    </div>
    <div class="team-display">
      <p>This is where we'll put Team 2 players and fixtures</p>
    </div>
  </div> -->

  <div class="team-button">
    <button id="match-up" ng-class="button-style" ng-click="vm.grabFixtures()">Match Up!</button>
  </div>

  <div id="fixtures">
    <h2>Fixtures</h2>
    <div class="table-header">
      <p>Date</p>
      <!-- <p>Home</p> -->
      <!-- <p>Away</p> -->
      <p>Results</p>
    </div>

    <div ng-repeat="fixture in vm.fixtures">
      <div class="table-row">
        <p>{{ fixture.date }}</p>
        <p><a ui-sref="teamShow({id: team.id})">{{ fixture.homeTeamName }}</a></p>
        <p>{{ fixture.result.goalsHomeTeam }} | {{ fixture.result.goalsAwayTeam }}</p>
        <p><a ui-sref="teamShow({id: team.id})">{{ fixture.awayTeamName }}</a></p>
      </div>
    </div>
  </div>
</section>
